extends layouts/layout

block header
    h2 Login With Email
    p This game implements logging in with email address. Link with login link will be sent to your email address.

block content

    form(method="POST" action="/api/users/login" id="login")
        input(type="email" id="login-email" name="email" placeholder="E-mail address...")
        input(type="submit" value="Send login e-mail")

    script(type="text/javascript").
        document.addEventListener("DOMContentLoaded", () => {
            console.log("loaded");
            document.querySelector("#login").addEventListener("submit", (event) => {
                console.log("clicked");
                event.preventDefault();

                fetch(event.target.getAttribute("action"), {
                    method: event.target.getAttribute("method"),
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "email": document.querySelector("#login-email").value
                    })
                })
                    .then(response => {
                        console.log ({
                            type: "success",
                            title: "Link sent successfully!",
                            message: "Check you email address. You should have received an email with login link. Click the link and start playing!"
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });